*{
    margin :0;
    padding:0;
}
.header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(university-view.JPG);
    background-position: center;
    background-size: cover;
    position: relative ;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 17px;
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.8s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width: 90%;
    color: #fff ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 18px;
}

.course{
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    text-align: center;
    padding-top: 100;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.row1{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.row2{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background-color: #fae3e3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover{
    background: rgba(4, 9, 30, 0.7);
}
.tint-course{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.tint-course:hover{
    background: rgba(4, 9, 30, 0.7) ;
}
.new-year{
    flex-basis: 100%;
    background-color: #4f4e4e;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.img{
     margin-right: 68%; 
}


.text-box1{
    width: 60%;
    color: #fff ;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute; 
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    left: 60%;
    top:225%;
}
.text-box2{
    width: 60%;
    color: #fff ;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute; 
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    left: 60%;
    top:263%;
}
.text-box3{
    width: 60%;
    color: #fff ;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute; 
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    left: 60%;
    top:299%;
}
.text-box4{
    width: 60%;
    color: #fff ;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute; 
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    left: 60%;
    top:335%;
}


.text-box1 h4{
    margin-left: 450%;
    font-size: larger;
    margin-top: -50%;
    text-align: center;
}
.text-box2 h4{
    margin-left: 320%;
    font-size: larger;
    margin-top: -60%;
    text-align: center;
}
.text-box3 h4{
    margin-left: 850%;
    font-size: larger;
    margin-top: -110%;
    text-align: center;
}
.text-box4 h4{
    margin-left: 450%;
    font-size: larger;
    margin-top: -60%;
    text-align: center;
}


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #46abee;
    margin: 0px 30px;
    cursor: pointer;
    padding: 30px 0px;
}
.contact-col input, .contact-col textarea{
    width: 80%;
    padding: 15px;
    margin-left: 10%;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
